<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>CASHGAME i/o</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="public/css/style.css" />
</head>
<body>
    <div id="targetElement" class="table">
        <div class="logo">CASHGAME i/o</div>
    </div>

    <div id="current" class="player"></div>

    <div id="bottomCardDeck" class="cardDeck"></div>
    <div id="leftCardDeck" class="cardDeck"></div>
    <div id="rightCardDeck" class="cardDeck"></div>

    <script src="/public/javascript/vendor.js"></script>
    <script src="/public/javascript/app.js"></script>
</body>
</html>
